/* name: dark */

node
{
    background-color: #808080;
    color: white;
    font: small-caps italic lighter 10pt Arial;
    border: solid white 10px;
}

node:selected
{
    border: solid yellow 10px;
}

edge
{
    background-color: #c0c0c0;
}

edge:selected
{
    background-color: red;
}

scene
{
    background-color: #404040;
}
