
[submodule "libmetgem"]
	path = libmetgem
	url = ../libmetgem.git
[submodule "NetworkView"]
	path = NetworkView
	url = ../NetworkView.git
[submodule "forceatlas2"]
	path = forceatlas2
	url = ../forceatlas2.git
[submodule "metgem-docs"]
	path = metgem-docs
	url = ../metgem-docs.git