
[submodule "libmetgem"]
	path = libmetgem
	url = https://github.com/metgem/libmetgem.git
[submodule "NetworkView"]
	path = NetworkView
	url = https://github.com/metgem/NetworkView.git
[submodule "forceatlas2"]
	path = forceatlas2
	url = https://github.com/metgem/forceatlas2.git
[submodule "metgem-docs"]
	path = metgem-docs
	url = https://github.com/metgem/metgem-docs.git